{% extends "study-room.html" %}

{% block content %}
<div class="main-room-container">
    <section class="community-home-container">
        <div class="topics-container">
            {% include "community/topics_component.html" %}
        </div>
            <div class="rooms">
                <nav>
                    <ul>
                        <h1>study room</h1>
                        <h5>{% if room_count == 0 %}
                            No rooms available
                            {% elif room_count == 1 %}
                            {{room_count}} room available
                            {% else %}
                            {{room_count}} rooms available
                            {% endif %}</h5>
                    </ul>
                    <ul>
                        <a href="{% url "create-room" %}"><i class="fa-solid fa-plus fa-beat-fade"></i></i>create room</a>
                    </ul>
                </nav>
                <div class="main-room-container">
                    <!-- --start rooms-- -->
                    {% include "community/feed_component.html" %}
                </div>
            </div>
    </section>
    </div>
{% endblock content %}

