{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="about">
    <div class="top">
        <img src="{% static 'images/img2.png'%}" alt="">
        <div class="text">
            <h3><i class="fa-solid fa-dot"></i>Works with both frontend and backend technologies</h3>
            <h3><i class="fa-solid fa-dot"></i> Familiar with frameworks such as <i>Django</i></h3>
            <h3><i class="fa-solid fa-dot"></i> IT consultant</h3>
            <h3><i class="fa-solid fa-dot"></i> Adapts to new technologies</h3>
            <h3><i class="fa-solid fa-dot"></i> Proficient in Programmimg Languages</h3>
        </div>
    </div>
</section>
{% endblock content %}

